/* General styles */
*{
   box-sizing: border-box; 
}

body{
    font-family: 'Inter', sans-serif;
}

body p {
    font-size: 15px;
}

.container{
    max-width: 375px;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: black;
}

nav {
    display: none;
}

h1, h2, h3{
    margin-bottom: 10px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
}
.main-menu{
    display: flex;
    align-self: center;
}
.hamburger-menu{
    align-self: center;
}
.hero-desktop{
    display: none;
}

/* New section */
.new{
    background-color: black;
    padding: 10px;
}

.new h2{
    color: hsl(35, 77%, 62%);
    font-weight: 800;
}

.new h3{
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    margin-top: 20px;
}
.new p{
    color: hsl(233, 8%, 79%);
    margin-bottom: 10px;
}

.new .post{
    border-bottom: 1px solid hsl(233, 8%, 79%);
}


/* Ordered list of posts */
.posts .post{
    display: flex;
}




/* Desktop */
@media screen and (min-width:768px){
    .container{
        max-width: 1440px;
    }
    nav{
        display:block;
    }
    .hamburger-menu{
        display: none;
    }
    nav ul {
        display: flex;
    }

    nav a{
        margin: 5px 10px;
        padding: 5px 10px;
    }
   
    /* Hero */
    .hero-desktop{
        display: block;
    }
    .hero-mobile{
        display: none;
    }

    /* layout */
    main{
        display: grid;
        grid-template-areas:
        "hero hero new"
        "posts posts posts"
        ;
    }

    .hero{
        grid-area: hero;
    }

    .hero-description{
        display: flex;
    }

    .hero-description h1, .hero-description div{
        flex: 1 1 0;
    }

    .new{
        grid-area: new;
    }
    .posts{
        grid-area: posts;
        display: flex;
    }
    section{
        margin: 10px;
    }
}